* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
input,
button,
textarea,
select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}